html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.login {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url('./images/gymwall.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url('./images/home.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#submit-form-btn {
  background-color: rgba(57, 58, 55, 0.15);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 30px; /* Vertically center the text there */
  text-align: center;
}
