html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: black;
}

.workouts {
  position: relative;
  margin: 10px;
  padding: 10px;
  padding-bottom: 200px;
}

#workoutCard {
  min-height: 300px;
}

#workout-icon {
  font-size: 30px;
}
