.profile-page {
  position: relative;
  margin: 10px;
  padding-bottom: 200px;
}

.profile-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-head h5 {
  color: #333;
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  cursor: pointer;
}

.profile-img img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.image-upload > input {
  display: none;
}

.edit-btn {
  margin-left: 100px;
}
