.topleft {
  position: absolute;
  top: 8px;
  left: 120px;
}

.links {
  position: absolute;
  top: 8px;
  right: 100px;
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
}

.links .home-link,
.links .profile-link,
.links .workouts-link,
.links .recipes-link,
.links .logout-link {
  padding: 0 5px;
  color: white;
  text-decoration: none;
}

.links .home-link:hover,
.links .profile-link:hover,
.links .workouts-link:hover,
.links .recipes-link:hover,
.links .logout-link:hover {
  color: #17a2b8;
  transition: 0.5s;
}

.links .active {
  color: #25e0fd;
}

#popover-contained {
  min-width: 600px;
}

#popover-header {
  background-color: #353b40;
  color: white;
}

#user-name {
  color: #353b40;
  text-decoration: none;
}

#notifcation-container {
  position: relative;
}

#badge {
  position: absolute;
  top: -3px;
  left: 11px;
  font-size: 10px;
}

#x-icon {
  float: right;
}
